*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.srcoll__animation {
  padding: 100px 20px 0;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}

.srcoll__animation h1 {
  margin-bottom: 50px;
  text-align: center;
}

.newsletter {
  background-color: orange;
  color: #111;
  margin: 20px 0;
  border-radius: 20px;
  padding: 50px;
  transform: translateX(-150%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.newsletter.active {
  transform: translateX(0);
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}